* {
    font-family: serif;
    color: black;
    /*background-color: #202124;*/
}
button:hover {
    cursor: pointer;
    color: red;
}
.name {
    margin: 0px 650px;
}
.values {
    margin: 50px 650px;
    height: 50px;
    width: 50px;
}
.table {
    margin: 150px 650px;
    height: 50px;
    width: 50px;
}
.chart {
    margin: 25px 650px;
    width: 200px;
    height: 200px;
    border: 5px solid #515151;
}
.exmpl {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exmpl img {
    height: 100%;
    width: auto;
}
